# Security (NEVER commit these)
.env
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Cortex Specific (Don't commit the database or temp files)
backend/chroma_db/
backend/temp_repos/

# Frontend (Node)
frontend/node_modules/
frontend/dist/
frontend/.env.local